{
  "mcpServers": {
    "github": {
      "url": "https://api.githubcopilot.com/mcp/",
      "headers": {
        "Authorization": "Bearer {{ onepasswordRead "op://Private/hzsd6pr6snvnstjndllgar4dhy/token" }}"
      }
    }
  }
}

